---
layout: layouts/text.njk
title: 404 - Esta página no existe
url: /404.html
back:
  text: ← Volver
  href: '/'
---

<h1>Error 404</h1>

<p>
  <strong>Eres un tarugo</strong>,<br> esta página no existe
</p>
