---
url: /humans.txt
---
/* TEAM */

	Web Designer/Developer: Oscar Otero
	Site: https://oscarotero.gal/
	Twitter: @misteroom
	Location: Santiago, Galiza, Spain.

	Illustrator: Hugo Tobio
	Site: https://combence.com/
	Twitter: @HugoTobio
	Location: Bilbao, Basque Country, Spain.

	Supervision: Candela Milán
	Twitter: @candelamd
	From: A Coruña, Galicia, Spain.

	Release Management: Jerónimo López
	Twitter: @jerolba
	Location: Madrid, Spain.

	Grumpy Repo Management: Yeray Darias
	Twitter: @ydarias
	From: Tenerife, Canary Islands, Spain.

	Copy: David Bonilla
	Site: https://bonillaware.com/
	Twitter: @david_bonilla
	Location: Madriz, Spain.

/* THANKS */

	Yeray, Gorka, Marina, Ricardo, Cris, Yago, Bea, Gonzalo, Jose, Juan Antonio, Ricardo, Susana, Elena, Silvia, Joana, Nuria, Lucia, Elias, Juan, Xoel, Adolfo and the rest of volunteers. You rock!

/* SITE */

	Last update: {{ "now" | date("DATE") }}
	Language: Español
	Doctype: HTML5
	Standards: HTML5, CSS3, ES6, SVG
	Software: Lume (https://lume.land/)

	Icons:
	https://www.flaticon.com/authors/good-ware
	https://www.flaticon.com/authors/smashicons
	https://www.flaticon.com/authors/freepik
