---
layout: home
title: '#Tarugo5'

menu:
- text: Qué es
  href: '#que-es'
- text: Cómo patrocinar
  href: '#como-patrocinar'
- text: Contacto
  href: '#contacto'

header:
  title: '#Tarugo5'
  subtitle: Madrid, 22-24 octubre 2020
  progress: 15%

description:
  title: '3 días<br>8 charlas<br>6 talleres<br>700 asistentes<br>1 comunidad'
  text: |
    La Tarugoconf es **una conferencia sobre diseño, construcción y comercialización de productos y servicios digitales** que nace alrededor de la heterogénea Comunidad de suscriptores y suscriptoras de La Bonilista, la newsletter semanal sobre emprendimiento tecnológico escrita por David Bonilla.

    Es ante todo, **un punto de encuentro para gente que «hace cosas»** alrededor del software, la innovación tecnológica e Internet: diseñadores, inversores, programadores, comerciales, gente de marketing o soporte, administradores de sistemas, recruiters... camaradas del metal, *tarugos* todos.

    Organizada con un único objetivo: cuidar cada detalle del evento forma enfermiza —desde las acreditaciones hasta la oferta gastronómica— para **transformar la asistencia en una experiencia,** sin olvidar nunca que lo más importante de la Tarugoconf, lo que verdaderamente la diferencia, son sus charlas.

  features:
  - title: Útil
    img: https://placehold.it/100x100
    description: Problemas reales y las soluciones aplicadas para superarlos, que podrás incorporar a tu caja de herramientas y aplicar en tu día a día.
  - title: Práctica
    img: https://placehold.it/100x100
    description: Un speaker de la Tarugoconf no habla de lo que ha leído sino de lo que ha vivido.
  - title: Divertida
    img: https://placehold.it/100x100
    description: Lo contrario de «divertido» no es «serio» sino «aburrido» y lo único que está prohibido en la Tarugoconf es aburrirse.
  - title: Awesómica
    img: https://placehold.it/100x100
    description: Las charlas de la Tarugoconf se trabajan durante meses para que duren unos pocos minutos y se recuerden durante años.

image:
  src: img/tarugo4.jpg
  alt: Tarugo4
  width: 4810
  height: 3207
  link:
    text: Ver 752 fotos más en Flickr
    href: https://www.flickr.com/photos/tarugoconf/albums/72157711626689128

sponsorship:
  title: Cómo patrocinar
  text: |
    En la tarugo intentamos huir de la figura del «sponsor» habitual y **queremos convertir a nuestros patrocinadores en verdaderos socios** que sean una parte más del evento: nos preocupamos por entender sus objetivos y personalizamos los paquetes de patrocinio para intentar alcanzarlos, trabajando mano a mano con ellos y creando relaciones que perduran a lo largo de los años.
    
    Si quieres ser parte de la próxima #tarugo5 puedes mandarnos un mail a [tarugoconf@bonillaware.com](mailto:tarugoconf@bonillaware.com) o llamarnos al **650 888 900**
    
  subtitle: Patrocinadores en pasadas ediciones

  sponsors:
  - img: https://placehold.it/100x100
    alt: texto
  - img: https://placehold.it/100x100
    alt: texto
  - img: https://placehold.it/100x100
    alt: texto
  - img: https://placehold.it/100x100
    alt: texto
  - img: https://placehold.it/100x100
    alt: texto

  footer: ...y muchos más

contact:
  title: Contacto
  candela:
    img: https://placehold.it/100x100
    name: Candela Milán Dopico
    position: Event manager
    phone: +34 650 888 900
    email: candela@bonillaware.com
    twitter: '@candelamd'
  address: |
    **Bonillaware SLU**<br>
    Castellana 194, Cink Coworking<br>
    28046 Madrid (España)
  
  map: https://g.page/cink-coworking?share
  slack: tarugoconf.slack.com
  twitter: '@tarugoconf'

footer:
  copyright: © 2020 Bonillaware SLU
  menu:
  - text: Aviso legal
    href: --
  - text: Política de privacidad
    href: --
---

<nav class="navbar">
  <div class="navbar-content">
    {% include menu.html menu=page.menu class="navbar-menu" %}
    <a href="#top" class="navbar-logo">
      <span>Tarugoconf</span>
      <svg width="36" height="42" viewBox="0 0 245 280" xmlns="http://www.w3.org/2000/svg">
        <g fill="none" fill-rule="evenodd">
          <path stroke="#000" stroke-width="10" fill="#FFF" d="M122.5 8L237 74.107V206.32l-114.5 66.106L8 206.32V74.107z"/>
          <path fill="#000" d="M122.4 11.7l56 32-56 32-56-32zM11.2 204.867l56 32.333v-64.667l-56-32.333zM233.7 75.7v64.13l-56 32.333v64.618l-55.5 32.044v-128.75z"/>
        </g>
      </svg>
    </a>
  </div>
</nav>

<header class="header">
  <div class="cube-container">
    <div class="cube">
      <div class="cube-front">
        <svg width="200px" height="200px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
          <rect class="cube-black" x="0" y="0" width="200" height="200"></rect>
          <rect class="cube-white" x="100" y="100" width="100" height="100"></rect>
        </svg>
      </div>
      <div class="cube-back">
        <svg width="200px" height="200px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
          <rect class="cube-black" x="0" y="0" width="200" height="200"></rect>
          <rect class="cube-white" x="100" y="100" width="100" height="100"></rect>
        </svg>
      </div>
      <div class="cube-top">
        <svg width="200px" height="200px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
          <rect class="cube-white" x="0" y="0" width="200" height="200"></rect>
          <rect class="cube-black" x="100" y="0" width="100" height="100"></rect>
        </svg>
      </div>
      <div class="cube-bottom">
        <svg width="200px" height="200px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
          <rect class="cube-white" x="0" y="0" width="200" height="200"></rect>
          <rect class="cube-black" x="100" y="0" width="100" height="100"></rect>
        </svg>
      </div>
      <div class="cube-left">
        <svg width="200px" height="200px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
          <rect class="cube-white" x="0" y="0" width="200" height="200"></rect>
          <rect class="cube-black" x="0" y="100" width="100" height="100"></rect>
        </svg>
      </div>
      <div class="cube-right">
        <svg width="200px" height="200px" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
          <rect class="cube-white" x="0" y="0" width="200" height="200"></rect>
          <rect class="cube-black" x="0" y="100" width="100" height="100"></rect>
        </svg>
      </div>
    </div>
  </div>
  <h1 class="header-title">{{ page.header.title }}</h1>
  <p class="header-subtitle">{{ page.header.subtitle }}</p>
  <div class="header-progress" style="--progress: {{ page.header.progress }}">
    {{ page.header.progress }}
  </div>
</header>

<figure class="video">
  <div class="video-ratio">
    <iframe
    src="https://player.vimeo.com/video/384584744?title=0&byline=0&portrait=0"
    width="640"
    height="360"
    frameborder="0"
    allow="autoplay; fullscreen"
    title="Vídeo resumen de la pasada edición"
    allowfullscreen
    ></iframe>
  </div>
</figure>

<section class="description" id="que-es">
  <h2 class="description-title">{{ page.description.title }}</h2>

  <div class="description-text">
    {{ page.description.text | markdownify }}
  </div>

</section>

<ul class="features">
    {% for item in page.description.features %}
    <li>
        <img src="{{ item.img }}" alt="{{ item.title }}">
        <h3>{{ item.title }}</h3>
        {{ item.description | markdownify }}
    </li>
    {% endfor %}
</ul>

<figure class="photo">
  <img
    class="photo-image"
    src="{{ page.image.src }}"
    alt="{{ page.image.alt }}"
    width="{{ page.image.width }}"
    height="{{ page.image.height }}"
    >
  <figcaption class="photo-caption">
    <a href="{{ page.image.link.href }}">
      <svg role="img" viewBox="0 0 24 24" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
        <title>Flickr icon</title>
        <path d="M0 12c0 3.074 2.494 5.564 5.565 5.564 3.075 0 5.569-2.49 5.569-5.564S8.641 6.436 5.565 6.436C2.495 6.436 0 8.926 0 12zm12.866 0c0 3.074 2.493 5.564 5.567 5.564C21.496 17.564 24 15.074 24 12s-2.492-5.564-5.564-5.564c-3.075 0-5.57 2.49-5.57 5.564z"/>
      </svg>
      {{ page.image.link.text }}
    </a>
  </figcaption>
</figure>

<section class="sponsorship" id="como-patrocinar">
  <h2 class="sponsorship-title">{{ page.sponsorship.title }}</h2>

  <div class="sponsorship-text">
    {{ page.sponsorship.text | markdownify }}
  </div>

  <div class="sponsorship-sponsors">
    <h3 class="sponsorship-subtitle">{{ page.sponsorship.subtitle }}</h3>
    
    <ul class="sponsorship-sponsors">
      {% for item in page.sponsorship.sponsors %}
      <li>
        <img src="{{ item.img }}" alt="{{ item.alt }}">
      </li>
      {% endfor %}
    </ul>

    <footer class="sponsorship-footer">
      {{ page.sponsorship.footer | markdownify }}
    </footer>
  </div>
</section>

<section class="contact" id="contacto">
  <h2 class="contact-title">{{ page.contact.title }}</h2>

  <div class="contact-candela">
    <img src="{{ page.contact.candela.img }}" alt="Foto de Candela" class="contact-candela-photo">
    <strong class="contact-candela-name">{{ page.contact.candela.name }}</strong>
    <p class="contact-candela-position">{{ page.contact.candela.position }}</p>

    <address class="contact-candela-address">
      <span>{{ page.contact.candela.phone }}</span><br>
      <a href="mailto:{{ page.contact.candela.email }}">{{ page.contact.candela.email }}</a><br>
      <a href="https://twitter.com/{{ page.contact.candela.twitter }}">{{ page.contact.candela.twitter }}</a>
    </address>
  </div>

  <div class="contact-tarugo">
    {{ page.contact.address | markdownify }}

    <address>
      <a href="{{ page.contact.map }}">Ver mapa</a><br>
      <a href="https://{{ page.contact.slack }}">{{ page.contact.slack }}</a><br>
      <a href="https://twitter.com/{{ page.contact.twitter }}">{{ page.contact.twitter }}</a>
    </address>
  </div>
</section>

<footer class="footer">
  {{ page.footer.copyright | markdownify }}
  {% include menu.html menu=page.footer.menu %}
</footer>
