---
layout: layouts/home.njk
title: 'Speakers'
description: |
  La Tarugoconf es una conferencia sobre diseño, construcción y comercialización de productos y servicios digitales que nace alrededor de la heterogénea Comunidad de suscriptores y suscriptoras de La Bonilista

menu:
- text: Las charlas
  href: '#las-charlas'
- text: Beneficios
  href: '#beneficios'
- text: Recursos
  href: '#recursos'

back:
  text: ← Home
  href: '/'

header:
  title: 'Ser speaker en la Tarugoconf'
  intro: |
    Ser ponente de la Tarugoconf es una experiencia diferente. Empezando porque **la única forma de convertirte en uno/a de ellos es mediante invitación** y terminando porque no eligirás el tema sobre el que vas a hablar, solo cómo vas a desarrollarlo.

    Una de las cosas más peculiares de la conferencia es que tiene «línea editorial». Primero **seleccionamos los temas que nos parecen más interesantes y, después, a las personas que creemos más apropiadas para hacerlo.** Por ejemplo, a ti. No hay *call for papers* ni charlas patrocinadas, todos los contenidos son planificados y cuidados con detalle.

highlights:
- title: Quién
  description: Recibirás una invitación personal para participar en la Tarugoconf.
- title: Por qué
  description: Si aceptas, nos reuniremos para explicarte el objetivo de tu charla y consensuar la visión de la misma.
- title: Qué
  description: Propondrás las lineas maestras de tu presentación y, tras la propuesta, se confirmará tu ponencia.
- title: Cómo
  description: Si lo deseas, te ayudaremos con el *storytelling* y el diseño de la presentación para que esta sea PERFECTA.

image:
  src: /img/speaker
  alt: Foto de una conferencia en el Tarugo4
  width: 4810
  height: 3207

intro:
  title: Las charlas
  aside: |
    <strong>1</strong> solo track<br>
    <strong>30</strong> minutos de charla<br>
    +<strong>15</strong> de Q&A<br>
    <strong>Sketchnoting</strong> en directo<br>
    <strong>Control</strong> de difusión audiovisual

  text: |
    «Ningún discurso es demasiado corto». En la Tarugo creemos en las enseñanzas de los legendarios Kenneth Roman y Joel Raphaelson, por eso nuestras charlas «solo» duran 30 minutos. Eso sí, tenemos un turno de preguntas de 15 minutos que SIEMPRE se nos queda corto. ¡La interactuación con el público suele ser tan interesante como la charla en sí!

    No tendrás que competir con otro ponente. Hay un sólo track, así que **toda la atención del evento estará puesta en tu charla.**

    Más allá del tema, **tendrás libertad total para desarrollar tu charla.** Sólo te pediremos que sigas nuestro sencillo [código de conducta](codigo-de-conducta.html). Grabaremos tu charla, pero sólo la publicaremos si nos das tu consentimiento después de revisar el vídeo.

    Durante todo el proceso de creación de tu presentación, contarás con nuestro feedback y nuestra ayuda para **conseguir un resultado memorable.**

benefits:
  title: Qué aportamos a nuestros speakers
  intro: |
    El esfuerzo invertido en preparar una charla es igual que el esfuerzo invertido en preparar un evento —nunca es rentable desde el punto de vista económico— así que lo menos que podemos hacer es compensar a nuestros ponentes en su justa medida. Ellos son las verdaderas estrellas de la Tarugoconf.
  benefits:
  - title: Viaje
    icon: plane.svg
    description: Por supuesto, nos hacemos cargo de tu viaje para que puedas disfrutar del evento completo, no sólo el día de tu charla.
  - title: Alojamiento
    icon: bed.svg
    description: También cubrimos tu alojamiento. Y si quieres venir con la familia, reservaremos una habitación en la que quepáis todos.
  - title: Diseño
    icon: artboard.svg
    description: Si lo deseas, nuestro diseñador revisará tu presentación y la «vestirá» con un aspecto profesional para que brille.
  - title: Storytelling
    icon: unicorn.svg
    description: Si quieres, te ayudaremos a descubrir la historia detrás de los datos y los hechos, para cautivar a la audiencia.
  - title: Acceso VIP
    icon: vip.svg
    description: Tu entrada te dará acceso a todas las actividades de la Tarugoconf, desde los talleres hasta la jornada familiar.
  - title: Regalo
    icon: gift.svg
    description: Somos gallegos, así que, cuenta con un regalo de cortesía y, probablemente, relacionado con la gastronomía...
  - title: Entradas
    icon: tickets.svg
    description: Todos los ponentes de la Tarugoconf tienen garantizada una entrada para la siguiente edición. Sin coste.
  - title: Sketchnoting
    icon: blueprint.svg
    description: Tu charla será «dibujada» por nuestro sketchnoter y podrás disponer del dibujo y difundirlo como consideres.
  - title: Vídeo
    icon: video.svg
    description: Tu charla será grabada por 4 cámaras que recogerán todos los detalles y publicada en Vimeo. Si nos das tu consentimiento, claro :)
  - title: Transporte
    icon: taxi.svg
    description: Nos haremos cargo no sólo de tu viaje hasta Madrid sino de tus desplazamientos dentro de la ciudad. Faltaría más.
  - title: Networking
    icon: networking.svg
    description: Acceso a la exclusiva cena de mecenas y ponentes donde conocerás y te conocerán en un ambiente familiar.
  - title: Cariño
    icon: music.svg
    description: Para nosotros no serás un ponente sino nuestro invitado. Nos dejaremos la piel para que te sientas como en casa.

speakers:
  title: Algunos speakers de pasadas ediciones
  quotes:
  - quote: |
      Después de ser ponente en la Tarugoconf, las ventas de mi empresa se dispararon un 400% y levantamos una ronda de inversión de 20 millones. ¿Casualidad? NO LO CREO
    name: Eloi Gómez
    position: CEO - Jeff
    image: /img/speakers/eloi-gomez.jpg
  - quote: |
      La Tarugoconf es la conferencia donde más he disfrutado el turno de preguntas. 
    name: Jimena Catalina
    position: Creadora de Slides Carnival
    image: /img/speakers/jimena-catalina.jpg
  - quote: |
      Después de 4 años, aun me sigue recordando la charla que di en la primera Tarugoconf incluso gente que no estuvo allí.
    name: Javi Santana
    position: Jugador de eSports
    image: /img/speakers/javi-santana.jpeg

  speakers:
  - name: Justyna Adamczyk
    position: Head of People en Sketch
    image: /img/speakers/justyna-adamczyk.jpeg
    social:
      - icon: twitter.svg
        title: '@justyna_adam'
        href: https://twitter.com/Justyna_Adam
  - name: Diego Mariño
    position: Desarrollador de Videojuegos
    image: /img/speakers/diego-marino.jpeg
    social:
      - icon: twitter.svg
        title: '@diegomarino'
        href: https://twitter.com/diegomarino
  - name: Andrea Barber
    position: Cofundadora de Rated Power
    image: /img/speakers/andrea-barber.jpg
    social:
      - icon: twitter.svg
        title: '@andreabarberl'
        href: https://twitter.com/andreabarberl
  - name: Álvaro Videla
    position: Azure Advocate / RabbitMQ Dev
    image: /img/speakers/alvaro-videla.jpg
    social:
      - icon: twitter.svg
        title: '@old_sound'
        href: https://twitter.com/old_sound
  - name: Daniel Lopez
    position: Fundador de Bitnami
    image: /img/speakers/daniel-lopez.jpg
    social:
      - icon: twitter.svg
        title: '@vomkriege'
        href: https://twitter.com/vomkriege
  - name: Esther Alonso
    position: Directora de Marketing en eldiario.es
    image: /img/speakers/esther-alonso.jpeg
    social:
      - icon: twitter.svg
        title: '@estheralone'
        href: https://twitter.com/estheralone
  - name: Andrés Torrubia
    position: CEO de Fixr
    image: /img/speakers/andres-torrubia.jpg
    social:
      - icon: twitter.svg
        title: '@antor'
        href: https://twitter.com/antor
  - name: Marta Beltrán
    position: Profesora en la URJC
    image: /img/speakers/marta-beltran.jpeg
    social:
      - icon: twitter.svg
        title: '@experiencia_T'
        href: https://twitter.com/experiencia_T


resources:
  title: Recursos para speakers
  links:
  - text: El postmortem, con todas las cifras de la edición anterior
    href: https://bonillaware.com/postmortem-tarugo4
  - text: Vídeo-resumen de la última edición (2019)
    href: https://vimeo.com/384584744
  - text: Vídeo-resumen de la tarugo3 (2018)
    href: https://vimeo.com/304015791
  - text: Álbumes en Flickr con las fotos de todas las ediciones
    href: https://www.flickr.com/photos/tarugoconf/albums
---

{% include "partials/navbar.njk" %}

<header class="header">
  <h1 class="header-title">{{ header.title }}</h1>
  <div class="header-intro has-links">
      {{ header.intro | md | safe }}
  </div>
</header>

<div class="highlights">
    <ul>
        {% for item in highlights %}
        <li>
          <h3>{{ item.title | safe }}</h3>
          {{ item.description | md | safe }}
        </li>
        {% endfor %}
    </ul>
</div>

<figure class="photo">
    <picture>
      <source srcset="{{ image.src }}-3200px.webp" media="(min-width:2400px)" type="image/webp">
      <source srcset="{{ image.src }}-3200px.jpg" media="(min-width:2400px)">
      <source srcset="{{ image.src }}-2400px.webp" media="(min-width:1600px)" type="image/webp">
      <source srcset="{{ image.src }}-2400px.jpg" media="(min-width:1600px)">
      <source srcset="{{ image.src }}-1600px.webp" media="(min-width:800px)" type="image/webp">
      <source srcset="{{ image.src }}-1600px.jpg" media="(min-width:800px)">
      <source srcset="{{ image.src }}-800px.webp" type="image/webp">
  
      <img
        class="photo-image"
        src="{{ image.src }}-800px.jpg"
        alt="{{ image.alt }}"
        width="{{ image.width }}"
        height="{{ image.height }}"
        loading="lazy"
        >
    </picture>
</figure>

<section class="intro" id="las-charlas">
  <h2 class="intro-title">{{ intro.title }}</h2>
  <div class="intro-aside">{{ intro.aside | safe }}</div>

  <div class="intro-text has-links">
    {{ intro.text | md | safe }}
  </div>

</section>

<figure class="video">
    <div id="video" class="video-ratio" data-id="305100749">
      <a href="https://vimeo.com/305100749">#tarugo3 / Andrés Torrubia / Haciendo posible lo imposible</a>
    </div>
</figure>

<section class="benefits" id="beneficios">
    <h2 class="benefits-title">{{ benefits.title }}</h2>
    <div class="benefits-intro has-links">
        {{ benefits.intro | md | safe }}
    </div>

    <ul class="benefits-benefits">
        {% for item in benefits.benefits %}
        <li>
            <img src="/img/icons/{{ item.icon }}" inline>
            <h3>{{ item.title }}</h3>
            {{ item.description | md | safe }}
        </li>
        {% endfor %}
    </ul>
</section>

<section class="speakers">
    <h2 class="speakers-title">{{ speakers.title }}</h2>

    <tarugo-carousel class="speakers-quotes">
        {% for item in speakers.quotes %}
        <figure class="speakers-quote">
            <blockquote>
              {{ item.quote | md | safe }}
            </blockquote>
            <figcaption>
              <img src="{{ item.image }}">
              <p>
                <cite>{{ item.name }}</cite><br>
                {{ item.position }}
              </p>
            </figcaption>
          </figure>
        {% endfor %}
    </tarugo-carousel>

    <div class="speakers-quotes-nav has-links">
      <button type="button" class="js-carousel-prev is-link">Anterior</button>
      <button type="button" class="js-carousel-next is-link">Siguiente</button>
    </div>
      
    <ul class="speakers-speakers">
        {% for item in speakers.speakers %}
        <li>
          <figure class="speaker">
            <img class="speaker-image" src="{{ item.image }}">

            <figcaption>
              <strong class="speaker-name">{{ item.name }}</strong>
              <em class="speaker-position">{{ item.position }}</em>
              
              <address class="speaker-social">
                {% for link in item.social %}
                  <a href="{{ link.href }}" title="{{ link.title }}">
                    {# {% include {{ link.icon }} %} #}
                  </a>
                {% endfor %}
              </address>
            </figcaption>
          </figure>
        </li>
        {% endfor %}
    </ul>
</section>

<section class="resources" id="recursos">
  <h2 class="resources-title">{{ resources.title }}</h2>

  <ul class="resources-links has-links">
    {% for item in resources.links %}
    <li>
      <a href="{{ item.href }}">
        {{ item.text }}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>

{% set menu = footer.menu %}
{% include "partials/footer.njk" %}
