---
layout: home
title: 'Speakers'
description: |
  La Tarugoconf es una conferencia sobre diseño, construcción y comercialización de productos y servicios digitales que nace alrededor de la heterogénea Comunidad de suscriptores y suscriptoras de La Bonilista

menu:
- text: Las charlas
  href: '#las-charlas'
- text: Beneficios
  href: '#beneficios'
- text: Recursos
  href: '#recursos'

back:
  text: ← Volver
  href: './'

header:
  title: 'Ser speaker en la Tarugoconf'
  intro: |
    Ser ponente de la Tarugoconf es una experiencia diferente. Empezando porque **la única forma de convertirte en uno de ellos es mediante invitación** y terminando porque no eligen el tema sobre el que van a hablar, solo cómo van a desarrollarlo.

    Una de las cosas mas peculiares de la conferencia es que tiene «línea editorial». Primero **seleccionamos los temas que nos parecen más interesantes y, después, a las personas que creemos mas apropiadas para hacerlo.** No hay *call for papers* ni charlas patrocinadas, todos los contenidos son planificados y cuidados con detalle.

highlights:
- title: Quién
  description: El ponente recibe una invitación personal para participar en la Tarugoconf.
- title: Por qué
  description: Si acepta, se consensuan la motivación y el objetivo de la charla.
- title: Qué
  description: El ponente propone las lineas maestras de su presentación.
- title: Cómo
  description: Se confirma la ponencia y se ayuda al ponente a desarrollar la misma.

image:
  src: img/speaker.jpg
  alt: Foto de una conferencia en el Tarugo4
  width: 4810
  height: 3207

intro:
  title: Las charlas
  aside: |
    <strong>1</strong> solo track<br>
    <strong>30</strong> minutos de charla<br>
    +<strong>15</strong> de Q&A<br>
    <strong>Sketchnoting</strong> en directo<br>
    <strong>Control</strong> de difusión audiovisual

  text: |
    «Ningún discurso es demasiado corto». En la Tarugo creemos en las enseñanzas de los legendarios Kenneth Roman y Joel Raphaelson, por eso nuestras charlas «solo» duran 30 minutos. Eso si, tenemos un turno de preguntas de 15 minuto que SIEMPRE se nos queda corto. ¡La interactuación con el público suele ser tan interesante como la charla en sí!

    No tendrás que competir con otro ponente. Hay un sólo track, así que **toda la atención del evento estará puesta en tu charla.**

    Más allá del tema, **tendrás libertad total para desarrollar tu charla.** Sólo te pediremos que sigas nuestro sencillo [código de conducta](codigo-de-conducta.html). Grabaremos tu charla, pero sólo la publicaremos si nos das tu consentimiento después de revisar el video.

    Durante todo el proceso de creación de tu presentación, contarás con nuestro feedback y nuestra ayuda para **conseguir un resultado memorable.**

benefits:
  title: Qué aportamos a nuestros speakers
  intro: |
    El esfuerzo invertido en preparar una charla es igual que el esfuerzo invertido en preparar un evento —nunca es rentable desde el punto de vista económico— así que lo menos que podemos hacer es compensar a nuestros ponentes en su justa medida. Ellos son las verdaderas estrellas de la Tarugoconf.
  benefits:
  - title: Viaje
    description: Por supuesto, nos hacemos cargo de tu viaje para que puedas disfrutar del evento completo, no sólo el día de tu charla.
  - title: Alojamiento
    description: Tambien cubrimos tu alojamiento. Y si quieres venir con la familia, reservaremos una habitación en la que quepáis todos.
  - title: Diseño
    description: Si lo deseas, nuestro diseñador revisará tu presentación y la «vestirá» con un aspecto profesional para que brille.
  - title: Storytelling
    description: Si quieres, te ayudaremos a descubrir la historia detrás de los datos y los hechos, para cautivar a la audiencia.
  - title: Acceso VIP
    description: Tu entrada te dará acceso a todas las actividades de la Tarugoconf, desde los talleres hasta la jornada familiar.
  - title: Regalo
    description: Somos gallegos, así que, cuenta con un regalo de cortesía y, probablemente, relacionado con la gastronomía...
  - title: Entradas
    description: Todos los ponentes de la Tarugoconf tienen garantizada una entrada para la siguiente edición. Sin coste.
  - title: Sketchnoting
    description: Tu charla será «dibujada» por nuestro sketchnoter y podrás disponer del dibujo y difundirlo como consideres.
  - title: Video
    description: Tu charla será grabada por 4 cámaras que recogeran todos los detalles y publicada en Vimeo. Si nos das tu consentimiento, claro :)
  - title: Transporte
    description: Nos haremos cargo no sólo de tu viaje hasta Madrid sino de tus desplazamientos dentro de la ciudad. Faltaría más.
  - title: Networking
    description: Acceso a la exclusiva cena de mecenas y ponentes donde conoceras y te conocerán en un ambiente familiar.
  - title: Cariño
    description: Para nosotros no serás un ponente sino nuestro invitado. Nos dejaremos la piel para que te sientas como en casa.

speakers:
  title: Speakers en pasadas ediciones
  quotes:
  - quote: |
      Después de ser ponente en la Tarugoconf, las ventas de mi empresa se dispararon un 400% y levantamos una ronda de inversión de 20 millones. ¿Casualidad? NO LO CREO
    name: Eloi Gómez
    position: CEO - Mr Jeff
    image: //placehold.it/100x100
  - quote: |
      Después de ser ponente en la Tarugoconf, las ventas de mi empresa se dispararon un 400% y levantamos una ronda de inversión de 20 millones. ¿Casualidad? NO LO CREO
    name: Eloi Gómez
    position: CEO - Mr Jeff
    image: //placehold.it/100x100
  - quote: |
      Después de ser ponente en la Tarugoconf, las ventas de mi empresa se dispararon un 400% y levantamos una ronda de inversión de 20 millones. ¿Casualidad? NO LO CREO
    name: Eloi Gómez
    position: CEO - Mr Jeff
    image: //placehold.it/100x100

  speakers:
  - name: Diego Mariño
    position: Cofundador de Ducksboard
    image: //placehold.it/200x200
    social:
      - icon: twitter.svg
        title: '@diegomarino'
        href: https://twitter.com/diegomarino
  - name: Diego Mariño
    position: Cofundador de Ducksboard
    image: //placehold.it/200x200
    social:
      - icon: twitter.svg
        title: '@diegomarino'
        href: https://twitter.com/diegomarino
  - name: Diego Mariño
    position: Cofundador de Ducksboard
    image: //placehold.it/200x200
    social:
      - icon: twitter.svg
        title: '@diegomarino'
        href: https://twitter.com/diegomarino
  - name: Diego Mariño
    position: Cofundador de Ducksboard
    image: //placehold.it/200x200
    social:
      - icon: twitter.svg
        title: '@diegomarino'
        href: https://twitter.com/diegomarino
  - name: Diego Mariño
    position: Cofundador de Ducksboard
    image: //placehold.it/200x200
    social:
      - icon: twitter.svg
        title: '@diegomarino'
        href: https://twitter.com/diegomarino
  - name: Diego Mariño
    position: Cofundador de Ducksboard
    image: //placehold.it/200x200
    social:
      - icon: twitter.svg
        title: '@diegomarino'
        href: https://twitter.com/diegomarino
  - name: Diego Mariño
    position: Cofundador de Ducksboard
    image: //placehold.it/200x200
    social:
      - icon: twitter.svg
        title: '@diegomarino'
        href: https://twitter.com/diegomarino
  - name: Diego Mariño
    position: Cofundador de Ducksboard
    image: //placehold.it/200x200
    social:
      - icon: twitter.svg
        title: '@diegomarino'
        href: https://twitter.com/diegomarino

resources:
  title: Recursos para speakers
  links:
  - text: Video-resumen de la última edición (2018)
    url: --
  - text: El video de la apertura del año pasado (2017)
    url: --
  - text: Vídeo-resumen de la primera edición (2016)
    url: --
  - text: Álbum en Flickr con las fotos de todas las ediciones
    url: --
  - text: El postmortem, con todas las cifras del evento
    url: --
---

{% include navbar.html %}

<header class="header">
  <h1 class="header-title">{{ page.header.title }}</h1>
  <div class="header-intro">
      {{ page.header.intro | markdownify }}
  </div>
</header>

<div class="highlights">
    <ul>
        {% for item in page.highlights %}
        <li>
          <h3>{{ item.title }}</h3>
          {{ item.description | markdownify }}
        </li>
        {% endfor %}
    </ul>
</div>

<figure class="photo">
    <picture>
      <!-- <source srcset="{{ page.image.src }}-3200px.webp" media="(min-width:2400px)" type="image/webp">
      <source srcset="{{ page.image.src }}-3200px.jpg" media="(min-width:2400px)">
      <source srcset="{{ page.image.src }}-2400px.webp" media="(min-width:1600px)" type="image/webp">
      <source srcset="{{ page.image.src }}-2400px.jpg" media="(min-width:1600px)">
      <source srcset="{{ page.image.src }}-1600px.webp" media="(min-width:800px)" type="image/webp">
      <source srcset="{{ page.image.src }}-1600px.jpg" media="(min-width:800px)">
      <source srcset="{{ page.image.src }}-800px.webp" type="image/webp"> -->
  
      <img
        class="photo-image"
        src="{{ page.image.src }}"
        alt="{{ page.image.alt }}"
        width="{{ page.image.width }}"
        height="{{ page.image.height }}"
        loading="lazy"
        >
    </picture>
</figure>

<section class="intro" id="las-charlas">
  <h2 class="intro-title">{{ page.intro.title }}</h2>
  <div class="intro-aside">{{ page.intro.aside }}</div>

  <div class="intro-text">
    {{ page.intro.text | markdownify }}
  </div>

</section>

<figure class="video">
    <div id="video" class="video-ratio" data-vimeo-id="305100749">
      <a href="https://vimeo.com/305100749">#tarugo3 / Andrés Torrubia / Haciendo posible lo imposible</a>
    </div>
</figure>

<section class="benefits" id="beneficios">
    <h2 class="benefits-title">{{ page.benefits.title }}</h2>
    <div class="benefits-intro">
        {{ page.benefits.intro | markdownify }}
    </div>

    <ul class="benefits-benefits">
        {% for item in page.benefits.benefits %}
        <li>
            <img src="//placehold.it/100x100">
            <h3>{{ item.title }}</h3>
            {{ item.description | markdownify }}
        </li>
        {% endfor %}
    </ul>
</section>

<section class="speakers">
    <h2 class="speakers-title">{{ page.speakers.title }}</h2>

    <ul class="speakers-quotes">
        {% for item in page.speakers.quotes %}
        <li>
            <blockquote>
              {{ item.quote | markdownify }}

              <footer>
                <img src="{{ item.image }}">
                <p>
                  <cite>{{ item.name }}</cite><br>
                  {{ item.position }}
                </p>
              </footer>
            </blockquote>
            <h3>{{ item.title }}</h3>
            {{ item.description | markdownify }}
        </li>
        {% endfor %}
    </ul>

    <ul class="speakers-speakers">
        {% for item in page.speakers.speakers %}
        <li>
          <figure class="speaker">
            <img class="speaker-image" src="{{ item.image }}">

            <figcaption>
              <strong class="speaker-name">{{ item.name }}</strong>
              <em class="speaker-position">{{ item.position }}</em>
              
              <address class="speaker-social">
                {% for link in item.social %}
                  <a href="{{ link.href }}" title="{{ link.title }}">
                    {% include {{ link.icon }} %}
                  </a>
                {% endfor %}
              </address>
            </figcaption>
          </figure>
        </li>
        {% endfor %}
    </ul>
</section>

<section class="resources" id="recursos">
  <h2 class="resources-title">{{ page.resources.title }}</h2>

  <ul class="resources-links">
    {% for item in page.resources.links %}
    <li>
      <a href="{{ item.href }}">
        {{ item.text }}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>

{% include footer.html menu=page.footer.menu %}
