---
---

@import 'fonts';
@import 'variables';

:root {
    @include regular;
    font-family: var(--font-family);
    font-variation-ligatures: normal;
    font-feature-settings: 'calt', 'liga';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: var(--black);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
    grid-column-gap: 5vw;
    grid-row-gap: 10vh;
    padding: 5vh 0;
    overflow-x: hidden;
    min-width: 300px;
}

mark {
    background-color: var(--color-accent);
    padding: .1em .1em 0;
}
strong {
   @include bold; 
}
::selection {
    background-color: var(--color-accent);
    color: var(--black);
}

@import 'navbar';
@import 'header';
@import 'cube';
@import 'video';
@import 'intro';
@import 'features';
@import 'photo';
@import 'sponsorship';
@import 'contact';
@import 'footer';

@import 'text';