.description {
    grid-column: 2 / 3;
    display: grid;
    align-items: start;
    grid-template-areas: 'title' 'text';
    grid-column-gap: var(--font-big);
    
    @media (min-width: 800px) {
        grid-template-columns: minmax(min-content, 22rem) 1fr;
        grid-template-areas: 'title text';
    }
}

.description-title {
    @include font-big;
    @include bold;
    grid-area: title;

    @media (min-width: 800px) {
        margin-top: 0;
        position: sticky;
        top: 6rem;
    }
}

.description-text {
    @include font-normal;
    grid-area: text;

    p {
        margin: 0 0 1em;
    }
}
