@charset "UTF-8";

@font-face {
  font-family: "Manrope VF";
  src: url("/fonts/ManropeGX.woff2") format("woff2-variations");
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/web/Manrope-ExtraBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/web/Manrope-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/web/Manrope-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/web/Manrope-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/web/Manrope-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/web/Manrope-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/web/Manrope-ExtraLight.woff2") format("woff2");
  font-style: normal;
  font-weight: 200;
}
