@font-face {
    font-family: "Plex";
    src: url("fonts/IBMPlexSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Plex";
    src: url("fonts/IBMPlexSans-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Plex";
    src: url("fonts/IBMPlexSans-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Plex";
    src: url("fonts/IBMPlexSans-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Plex";
    src: url("fonts/IBMPlexSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Plex";
    src: url("fonts/IBMPlexSans-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}
  