.footer {
    text-align: center;
    @include font-small;
    grid-column: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: var(--color-gray);

    ul {
        list-style: none;
        margin: 0 2em;
        padding: 0;
        display: flex;
    }
    li + li {
        margin-left: 2em;
    }

    a {
        color: inherit;
        text-underline-offset: 4px;

        &:hover {
            color: var(--black);
        }
    }
}
