.footer {
    text-align: center;
    @include font-small;
    grid-column: 2 / 3;
    color: var(--color-gray);

    ul {
        list-style: none;
        margin: 0 2em;
        padding: 0;
        display: inline-flex;
    }
    li + li {
        margin-left: 2em;
    }

    a {
        color: inherit;
        text-underline-offset: 4px;

        &:hover {
            color: var(--black);
        }
    }
}
