.header {
    grid-column: 2 / 3;
}
.header-title {
    @include font-xbig;
    @include black;
    text-align: center;
}
.header-intro {
    @include font-normal;
    max-width: 30em;
    margin: auto;

    a {
        @include link;
    }

    p {
        margin: 0 0 1em;
    }
}