/* Shadow */
body::before {
    content: "";
    display: block;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    box-shadow: 0 0 8px #00000033;
    background: white;
}

.navbar {
    grid-column: 1 / -1;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
    padding: 0 5vw;
}
.navbar-content {
    display: flex;
    align-items: center;
    min-height: 5rem;
    max-width: 1200px;
    margin: auto;
}
.navbar-logo {
    margin-left: auto;
}

.navbar-menu {
    a {
        font-family: var(--font-title);
        @include font-normal;
        @include bold;
        display: block;
        text-decoration: none;
        color: inherit;
        white-space: nowrap;

        &:hover {
            text-decoration: underline;
            text-underline-offset: 0.2em;
            text-decoration-thickness: 1px;
        }
        &:focus {
            outline: dotted 1px var(--color-gray);
            outline-offset: 3px;
        }
    }

    @media (max-width: 400px) {
        &.is-back {
            display: none;
        }
    }
}
div.navbar-menu:first-child:not(:nth-last-child(2)) {
    padding-right: 1.5em;
    margin-right: 1.5em;
    border-right: solid 1px;
}
.navbar-logo {
    display: flex;
    align-items: center;
    font-family: var(--font-title);
    @include font-small;
    @include bold;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    overflow: hidden;

    svg {
        margin-left: 1em;
        position: relative;
        z-index: 1;
    }
    span {
        will-change: transform, opacity;
        transform: translateX(100%);
        opacity: 0;
        transition-property: transform, opacity;
        transition-duration: 200ms;
    }
    &:hover span {
        transform: translateX(0);
        opacity: 1;
    }
}

.navbar-menu-button {
    background: none;
    border: none;
    padding: .5em;
    // margin-left: -.5em;
    @include font-normal;
    @include bold;
    white-space: nowrap;

    &::before {
        content: "☰";
        display: inline-block;
        margin-right: .3em;
    }
    &:hover {
        background: var(--color-accent);
    }
    &:focus {
        outline: dotted 1px var(--color-gray);
        outline-offset: 3px;
    }
    @media (min-width: 800px) {
        display: none;
    }
}

ul.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: 799px) {
        position: absolute;
        top: -10vh;
        left: 0;
        padding-top: calc(2em + 10vh);
        padding-bottom: 2em;
        padding-left: 5vw;
        padding-right: 70px;
        box-sizing: border-box;
        width: 100%;
        background: white;
        box-shadow: 0 0 8px #00000033;
        transform: translateX(-100%);
        transition: transform 300ms, opacity 200ms;
        opacity: 0;

        a {
            padding: .5em 0;
        }

        &.is-open {
            transform: translateX(0);
            opacity: 1;
        }
    }
    @media (min-width: 800px) {
        display: flex;

        li {
            margin-right: 2rem;
        }
    }
}