/* Shadow */
body::before {
    content: "";
    display: block;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    box-shadow: 0 0 8px #00000033;
    background: white;
}

.navbar {
    grid-column: 1 / -1;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
    padding: 0 5vw;
}
.navbar-content {
    display: flex;
    align-items: center;
    height: 5rem;
    max-width: 1200px;
    margin: auto;
}
.navbar-logo {
    margin-left: auto;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    @include font-normal;
    @include bold;

    li {
        margin-right: 2rem;
    }

    a {
        display: block;
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }
}