.sponsorship {
    grid-column: 2 / 3;
    display: grid;
    grid-template-areas: 'title' 'text' 'sponsors';
    grid-column-gap: var(--column-space);
    grid-row-gap: var(--row-space);
    align-items: start;
    background-image: url('data:image/svg+xml;utf8,<svg width="112" height="194" viewBox="0 0 112 194" xmlns="http://www.w3.org/2000/svg"><path d="M111.5 0v64.13l-56 32.333v64.618L0 193.125V64.375z" fill="%23EBFF00" fill-rule="evenodd"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 0;
    padding-top: 6rem;

    @media (min-width: 800px) {
        grid-template-columns: minmax(min-content, 22rem) 1fr;
        grid-template-areas: 'title text' 'title sponsors';
    }
}

.sponsorship-title {
    @include font-big;
    @include black;
    grid-area: title;

    @media (min-width: 800px) {
        margin: 0;
        position: sticky;
        top: 6rem;
    }
}

.sponsorship-text {
    @include font-normal;
    grid-area: text;

    p {
        margin: 0 0 1em;
    }

    a {
        color: var(--color-gray);
        text-underline-offset: .2em;
        padding: .2em 0;

        &:hover {
            color: var(--black);
            background-color: var(--color-accent);
            text-decoration: none;
        }
    }
}

.sponsorship-subtitle {
    @include font-normal;
    @include bold;
}

.sponsorship-sponsors {
    grid-area: sponsors;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, 120px);
        grid-gap: var(--column-space);
    }

    img {
        display: block;
        max-width: 100%;
    }
}

.sponsorship-footer {
    @include font-normal;
}