.video {
    grid-column: 2 / 3;
    margin: 0;
}
.video-ratio {
    position: relative;
    padding-bottom: 56%;
    margin-top: -10vh;

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--black);
    }
}
