.activities {
  grid-column: 2 / 3;
}
.activities-filter {
  text-align: center;
}

.activities-items {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-column-gap: 2em;
  grid-row-gap: 4em;
  justify-content: space-between;
  text-align: center;
}
.activity-image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.activity-title {
  display: block;
  max-width: 100%;
  font: var(--font-small-bold);
  margin: 1em 0 0;
}
.activity-description p {
  margin: .25em 0 0;
  font: var(--font-small);
  color: var(--color-gray);
}
.activity-filters {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.filter {
  --bg-color: white;

  display: inline-flex;
  align-items: center;
  font-weight: bold;
  padding: .3em .5em;
  accent-color: var(--bg-color);
  background-color: var(--bg-color);
  cursor: pointer;
  border-radius: 6px;

  &:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  }

  &.is-peque.is-active {
    --bg-color: var(--color-yellow);
  }
  &.is-joven.is-active {
    --bg-color: var(--color-blue);
    color: white;
  }
  &.is-mayor.is-active {
    --bg-color: var(--color-gray);
    color: white;
  }
}
a.filter {
  text-decoration: none;
  color: black;
  font: var(--font-small-bold);

  &.is-peque {
    --bg-color: var(--color-yellow);
  }
  &.is-joven {
    --bg-color: var(--color-blue);
    color: white;
  }
  &.is-mayor {
    --bg-color: var(--color-gray);
    color: white;
  }
}