.footer {
    text-align: center;
    font: var(--font-small);
    grid-column: 2 / 3;
    color: var(--color-gray);
    padding: var(--row-space) 0;

    & ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
    }
    & li {
        display: inline-block;
        padding: .5em 1em;
    }

    & a {
        color: inherit;
        text-underline-offset: 4px;
        white-space: nowrap;

        &:hover {
            color: var(--black);
        }
    }
}
