.homeHeader {
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    & > * {
        grid-column: 1;
        grid-row: 1;
    }
}
.homeHeader-title {
    margin: 0 0 var(--row-space);
    position: relative;
    z-index: 1;
    font: var(--font-big);
    font-weight: var(--xbold);
    letter-spacing: var(--font-big-spacing);
    line-height: .7em;
    
    & em {
        text-transform: uppercase;
        display: block;
        margin-bottom: .3em;
        font-style: normal;
        font-weight: var(--bold);
    }
    & strong {
        display: block;
        font-weight: inherit;
        font-size: clamp(5rem, 20vw, 15rem);
        letter-spacing: -0.025em;
        line-height: .7em;
    }
}
.homeHeader-subtitle {
    font: var(--font-small);
    margin: .3em 0 0;
    position: relative;
    z-index: 1;
}
