.homeHeader {
    text-align: center;
    grid-column: 2 / 3;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 10vh;

    & .cube-container {
        position: absolute;
        margin-top: -10vh;
    }
}
.homeHeader-title {
    margin: 0 0 var(--row-space);
    position: relative;
    z-index: 1;
    font: var(--font-big);
    font-weight: var(--xbold);
    letter-spacing: var(--font-big-spacing);
    line-height: .7em;
    
    & em {
        text-transform: uppercase;
        display: block;
        margin-bottom: .3em;
        font-style: normal;
        font-weight: var(--bold);
    }
    & strong {
        display: block;
        font-weight: inherit;
        font-size: 20vw;
        line-height: .7em;
        -webkit-text-stroke: 3px var(--color-secondary);
        color: transparent;


        @media (min-width: 1000px) {
            letter-spacing: -0.02em;
        }
        @media (min-width: 1400px) {
            letter-spacing: -0.03em;
        }
    }
}
.homeHeader-subtitle {
    font: var(--font-small);
    margin: .3em 0 0;
    position: relative;
    z-index: 1;
}
