.intro {
    grid-column: 2 / 3;
    display: grid;
    align-items: start;
    grid-template-areas: 'title' 'aside' 'text';
    grid-column-gap: var(--font-size-big);
    background-image: url('data:image/svg+xml;utf8,<svg width="56" height="97" viewBox="0 0 56 97" xmlns="http://www.w3.org/2000/svg"><path d="M56 64.667L0 97V32.333L56 0z" fill="%23f0e300" fill-rule="evenodd"/></svg>');
    background-repeat: no-repeat;
    background-size: min(100%, 250px) auto;
    background-position: 40% 0;
    padding-top: 6rem;
    animation: introAnim 200s both;
    animation-iteration-count: infinite;
    
    @media (min-width: 1000px) {
        grid-template-columns: 1fr minmax(min-content, 24rem);
        grid-template-areas: 'title title' 'text aside';
    }
}

.intro-title {
    font: var(--font-big);
    font-weight: var(--bold);
    letter-spacing: var(--font-big-spacing);
    grid-area: title;
}
.intro-aside {
    font: var(--font-medium);
    font-weight: var(--bold);
    grid-area: aside;

    @media (max-width: 999px) {
        margin-bottom: 1em;
    }

    @media (min-width: 1000px) {
        margin-top: 0;
        position: sticky;
        top: 6rem;
    }

    & strong {
        color: var(--color-blue);
    }
}

.intro-text {
    font: var(--font-normal);
    grid-area: text;

    & p {
        margin: 0 0 1em;
    }
}
