.partners {
  margin: 0;
  grid-column: 2 / 3;
  position: relative;
}
.partners-header {
  max-width: 45rem;
  margin: 0 auto;
  font: var(--font-normal);

  & h2 {
    text-align: center;
    font: var(--font-big);
    font-weight: var(--bold);
    letter-spacing: var(--font-big-spacing);
    text-align: center;
    margin: 0;
  }

  &.is-subheader {
    max-width: 30rem;
    text-align: center;
  }
}
.partners-list {
  list-style: none;
  margin: 50px 0;
  padding: 0;
  display: grid;
  row-gap: 20px;
  column-gap: 3rem;
  text-align: center;

  & img {
    max-width: 100%;
    width: 800px;
    margin: auto;
    display: block;
    height: auto;
  }

  &.has-partners {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    font: var(--font-small);

    & img {
      height: 130px;
      width: 100%;
      object-fit: contain;
    }
  }
  &.has-collaborators {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

    & img {
      height: 100px;
      width: 100%;
      object-fit: contain;
    }
  }
  &.has-patrons {
    grid-template-columns: repeat(auto-fit, 120px);
    justify-content: center;

    & img {
      height: 100px;
      width: 100%;
      object-fit: contain;
      display: block;
      margin-bottom: 10px;
    }

    & a {
      text-decoration: none;
      color: var(--color-gray);
      font: var(--font-small);
    }

    & .partner a {
      perspective: 500px;
    }

    & img {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      transition: transform 300s;
      will-change: transform;
      transition: transform .2s ease-in-out;
    }

    & > li:nth-child(1n) > a:not(:hover) img {
      transform: rotateX(-10deg) rotateY(-20deg) rotateZ(-5deg);
    }

    & > li:nth-child(2n) > a:not(:hover) img {
      transform: rotateX(10deg) rotateY(20deg) rotateZ(-5deg);
    }

    & > li:nth-child(3n) > a:not(:hover) img {
      transform: rotateX(-10deg) rotateY(20deg) rotateZ(5deg);
    }
  }
}
.partner {
  margin: 0;
  padding: 0;

  & > a {
    display: block;
    transition: opacity 200ms;

    &:hover {
      opacity: 0.6;
    }
  }
}
.partners-join {
  padding-top: var(--row-space);
  margin-top: var(--row-space);

  & h3 {
    font: var(--font-medium-bold);
  }

  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: 300px 1fr;
  }
}
.partners-join-content {
  font: var(--font-normal);
}