:root {
    font-family: var(--font-family);
    font-weight: var(--normal);
    font-variation-ligatures: normal;
    font-feature-settings: 'calt', 'liga';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: var(--black);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
    grid-column-gap: 5vw;
    grid-row-gap: 10vh;
    min-width: 300px;
}

mark {
    background-color: var(--color-yellow);
    padding: .1em .1em 0;
}
strong {
   font-weight: var(--bold); 
}
::selection {
    background-color: var(--color-yellow);
    color: var(--black);
}

hr {
    background: none;
    border: none;
    border-top: solid 1px var(--color-gray-light);
    margin: var(--row-space) 0;
}