.tickets-bg {
  background: url("/img/header-bg.png") repeat-x top left;
  background-size: auto 600px;
}
.tickets {
    margin: 0;
    grid-column: 2 / 3;
    position: relative;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
}
.ticket {
  border: solid 1px var(--color-yellow-dark);
  height: 100%;
  display: flex;
  flex-direction: column;
  
  & header {
    padding: 1rem;
    background-color: var(--color-yellow);
  }

  & footer {
    padding: 1rem;
  }
}
.ticket-pricing {
  font: var(--font-normal);
  text-align: center;
  margin: 0;
}
.ticket-name {
  font: var(--font-medium-bold);
  text-align: center;
  margin: 0;
}
.ticket-description {
  padding: .5rem 1rem;
  flex-grow: 1;

  & h3 {
    font: var(--font-small-bold);
    text-transform: uppercase;
    margin: 0;
  }
  & ul {
    padding-left: 1em;
    list-style-type: disc;
  }
  & li {
    margin: 0.5em 0;
  }
}