<div class="cube-container">
  <div class="cube">
    <div class="cube-top">
      <img src="/img/cubo/01.jpg">
    </div>
    <div class="cube-front">
      <img src="/img/cubo/02.jpg">
    </div>
    <div class="cube-left">
      <img src="/img/cubo/03.jpg">
    </div>

    <div class="cube-bottom">
      <img src="/img/cubo/04.jpg">
    </div>
    <div class="cube-back">
      <img src="/img/cubo/05.jpg">
    </div>
    <div class="cube-right">
      <img src="/img/cubo/06.jpg">
    </div>
  </div>
</div>