<div class="cube-container">
  <div class="cube">
    <div class="cube-top">
      <img src="/img/cubo/cubo1-azul.png">
    </div>
    <div class="cube-front">
      <img src="/img/cubo/cubo2-amarillo.png">
    </div>
    <div class="cube-left">
      <img src="/img/cubo/cubo3-azul.png">
    </div>

    <div class="cube-bottom">
      <img src="/img/cubo/cubo4-amarillo.png">
    </div>
    <div class="cube-back">
      <img src="/img/cubo/cubo5-azul.png">
    </div>
    <div class="cube-right">
      <img src="/img/cubo/cubo5-amarillo.png">
    </div>
  </div>
</div>