<section class="faq" id="faq">
  <header class="faq-header">
    <h2>{{ content.title | md(true) | safe }}</h2>
  </header>

  <div class="faq-questions">
    {% for item in content.questions %}
    <details class="faq-question">
      <summary>{{ item.question }}</summary>
      <div class="faq-answer">
        {{ item.answer | md | safe }}
      </div>
    </details>
    {% endfor %}
  </div>
</section>
