<footer class="footer">
  {{ footer.copyright | md | safe }}

  <ul>
    {% for item in footer.menu %}
    <li>
        <a href="{{ item.href }}">
            {{ item.text }}
        </a>
    </li>
    {% endfor %}
  </ul>
</footer>
