<section class="location" id="location">
  <div class="location-content">
    <h2 class="location-title">{{ content.title }}</h2>

    <div class="location-description">
      {{ content.description | md | safe }}
    </div>

    <div class="location-address">
      {{ content.address | md | safe }}
    </div>
  </div>

  <div class="location-map">
      <iframe width="750" height="510" frameborder="0" title="Felt Map" src="https://felt.com/embed/map/TarugoConf-22-GvehZWwSRwWTfE313rL9BaD?lat=40.34672620384461&lon=-3.6972176143847777&zoom=16.969"></iframe>
  </div>

</section>
