<nav class="navbar">
  <div class="navbar-content">
    {% if back %}
    <div class="navbar-menu is-back">
        <a href="{{ back.href }}">
            {{ back.text }}
        </a>
    </div>
    {% endif %}

    {% if menu %}
    <tarugo-buttons>
      <button data-action="toggle" data-target="menu" class="navbar-menu-button">Menú</button>
    </tarugo-buttons>

    <ul class="navbar-menu" id="menu">
      {% for item in menu %}
      <li>
          <a href="{{ item.href }}">
              {{ item.text }}
          </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if cta %}
    <a href="{{ cta.url }}" class="navbar-cta button is-primary">
      {{ cta.text }}
    </a>
    {% else %}
    <a href="./#top" class="navbar-logo">
      <span>Tarugoconf</span>
      <img width="36" src="/logo-cubo-amarillo.png" alt="Tarugoconf">
    </a>
    {% endif %}
  </div>
</nav>