<nav class="navbar">
  <div class="navbar-content">
    {% if back %}
    <div class="navbar-menu is-back">
        <a href="{{ back.href }}">
            {{ back.text }}
        </a>
    </div>
    {% endif %}

    {% if menu %}
    <button class="navbar-menu-button">
      Menú
    </button>

    <ul class="navbar-menu">
      {% for item in menu %}
      <li>
          <a href="{{ item.href }}">
              {{ item.text }}
          </a>
      </li>
      {% endfor %}
    </ul>

    <a href="./#top" class="navbar-logo">
      <span>Tarugoconf</span>
      <svg width="36" height="42" viewBox="0 0 245 280" xmlns="http://www.w3.org/2000/svg">
        <g fill="none" fill-rule="evenodd">
          <path stroke="#000" stroke-width="10" fill="#FFF" d="M122.5 8L237 74.107V206.32l-114.5 66.106L8 206.32V74.107z"/>
          <path fill="#000" d="M122.4 11.7l56 32-56 32-56-32zM11.2 204.867l56 32.333v-64.667l-56-32.333zM233.7 75.7v64.13l-56 32.333v64.618l-55.5 32.044v-128.75z"/>
        </g>
      </svg>
    </a>
    {% endif %}
  </div>
</nav>