<section class="partners" id="partners">
  <header class="partners-header">
    <h2>{{ content.title | md(true) | safe }}</h2>
  
    {{ content.intro | md | safe }}
  </header>

  <ul class="partners-list is-main" aria-label="Lista de patrocinadores principales">
    {% set partner = content.main %}
    <li>
      <figure class="partner">
          <a href="{{ partner.url }}" rel="noopener">
            <img src="{{ partner.img }}" alt="{{ partner.alt }}">
          </a>

          <figcaption>
          {{ partner.text | md | safe }}
          </figcaption>
      </figure>
    </li>
  </ul>

  <ul class="partners-list has-partners" arial-label="Lista de partners">
  {% for partner in content.partners %}
    <li>
      <figure class="partner">
          <a href="{{ partner.url }}" rel="noopener">
            <img src="{{ partner.img }}" alt="{{ partner.alt }}">
          </a>

          <figcaption>
          {{ partner.text | md | safe }}
          </figcaption>
      </figure>
    </li>
  {% endfor %}
  </ul>

  <hr>

  <ul class="partners-list has-collaborators" aria-label="Lista de colaboradores">
    {% for partner in content.collaborators %}
      <li class="partner">
        <a href="{{ partner.url }}" rel="noopener">
          <img src="{{ partner.img }}" alt="{{ partner.alt }}">
        </a>
      </li>
    {% endfor %}
  </ul>
  {% set cont = content.join %}

  <section class="partners-join" id="join">
    <h3>{{ cont.title | md(true) | safe }}</h3>

    <div class="partners-join-content">
      {{ cont.content | md | safe }}

      <p>
        <a href="{{ cont.cta.href }}" class="button is-primary" target="_blank">
          {{ cont.cta.text }}
        </a>
      </p>
    </div>
  </section>
</section>

<section class="partners" id="patreons">
  <header class="partners-header is-subheader">
    <h2>{{ content.title_patrons | md(true) | safe }}</h2>
  
    {{ content.intro_patrons | md | safe }}
  </header>

  <ul class="partners-list has-patrons" aria-label="Lista de mecenas">
    {% for partner in content.patrons %}
      <li class="partner">
        <a href="{{ partner.url }}" rel="noopener">
          <img src="{{ partner.img }}" alt="{{ partner.alt }}">
          {{ partner.alt }}
        </a>
      </li>
    {% endfor %}
  </ul>
</section>