<section class="speakers" id="speakers">
  <header class="speakers-header">
    <h2>{{ content.title | md(true) | safe }}</h2>
  
    {{ content.intro | md | safe }}
  </header>

  <ul class="speakers-list">
    {% for speaker in content.speakers %}
    {% if speaker.type == "speaker" %}
    {% include "./speaker.njk" %}
    {% endif %}
    {% endfor %}
  </ul>
</section>

<section class="speakers" id="teachers">
  <header class="speakers-header">
    <h2>{{ content.teacher_title | md(true) | safe }}</h2>
  
    {{ content.teacher_intro | md | safe }}
  </header>

  <ul class="speakers-list">
    {% for speaker in content.speakers %}
    {% if speaker.type == "teacher" %}
    {% include "./speaker.njk" %}
    {% endif %}
    {% endfor %}
  </ul>
</section>