<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link href="/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32">
    <link href="/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="/style.css?v={{ cache }}">
    <script src="https://player.vimeo.com/api/player.js" defer></script>
    <script src="/js/main.js" type="module"></script>
</head>

<body id="top" class="{{ body_class }}">
    {{ content | safe }}

    {% include "partials/footer.njk" %}
</body>
</html>
