---
layout: layouts/base.njk
---
{% include "partials/navbar.njk" %}

<header class="header">
  <h1 class="header-title">{{ header.title }}</h1>
  <div class="header-intro">
      {{ header.intro | md | safe }}
  </div>
</header>

<figure class="video is-sabado">
  <tarugo-video id="video" class="video-ratio" data-id="746603787">
    <img src="/img/open-space-snapshot.jpg" alt="Open Space Tarugo">
    <a href="https://vimeo.com/746603787">#tarugoff</a>
  </tarugo-video>
</figure>

<div class="text">
  {{ participating.description | md | safe }}
</div>

<section class="sessions" id="sessions">
  <header class="sessions-header">
    <h2 class="sessions-title">{{ sessions.title }}</h2>

    <div class="sessions-intro">{{ sessions.text }}</div>
  </header>

  <div id="sessions" class="sessions-list">
    {% for session in sessions.sessions %}
    <article class="session" data-filter="{{ session | dump }}">
      <figure class="session-video">
        <iframe width="400" height="300" src="https://www.youtube.com/embed/{{ session.code }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </figure>
      <header class="session-header">
        <h2 class="session-title">{{ session.title }}</h2>
      </header>
    </article>
    {% endfor %}
  </div>
</section>

{% set content = faq %}
{% include "partials/faq.njk" %}
