---
layout: layouts/base.njk
---
{% include "partials/navbar.njk" %}

<header class="header">
  <h1 class="header-title">{{ header.title }}</h1>
  <div class="header-intro">
      {{ header.intro | md | safe }}
  </div>
</header>



<section class="intro">
  <h2 class="intro-title">{{ openspace.title }}</h2>



  <div class="intro-aside">{{ openspace.aside | md | safe }}</div>

  <div class="intro-text">
    {{ openspace.excerpt | md | safe }}
    <figure class="video">
      <tarugo-video id="video" class="video-ratio" data-id="746603787">
        <img src="/img/open-space-snapshot.jpg" alt="Open Space Tarugo">
        <a href="https://vimeo.com/746603787">#tarugoff</a>
      </tarugo-video>
    </figure>
    {{ openspace.text | md | safe }}
    <a href="{{ cta.url }}" class="button is-primary">{{ cta.text }}</a>
  </div>
</section>

<!--
<section class="header">
  <h2 class="header-title">{{ sessions.title }}</h2>
  <div class="header-intro">
      {{ sessions.text | md | safe }}
  </div>
  <div class="header-cta">
    <a href="{{ sessions.cta.url }}" class="button is-primary">{{ sessions.cta.text }}</a>
  </div>
</section>
-->

{% set content = faq %}
{% include "partials/faq.njk" %}
