---
layout: layouts/base.njk
scripts:
  - /js/components.js
  - /js/menu.js
---
{% include "partials/navbar.njk" %}

<header class="header">
  <h1 class="header-title">{{ header.title }}</h1>
  <div class="header-intro">
      {{ header.intro | md | safe }}
  </div>
</header>

<figure class="video">
  <tarugo-video id="video" class="video-ratio" data-id="562113999">
    <img src="https://via.placeholder.com/100x100" alt="">
    <a href="https://vimeo.com/562113999">#tarugoff</a>
  </tarugo-video>
</figure>

<section class="intro" id="las-charlas">
  <h2 class="intro-title">{{ intro.title }}</h2>
  <div class="intro-aside">{{ intro.aside | md | safe }}</div>

  <div class="intro-text">
    {{ intro.text | md | safe }}
    <a href="{{ cta.url }}" class="button is-primary">{{ cta.text }}</a>
  </div>
</section>

<section class="header">
  <h2 class="header-title">{{ sessions.title }}</h2>
  <div class="header-intro">
      {{ sessions.text | md | safe }}
  </div>
  <div class="header-cta">
    <a href="{{ sessions.cta.url }}" class="button is-primary">{{ sessions.cta.text }}</a>
  </div>
</section>

{% set content = faq %}
{% include "partials/faq.njk" %}
