---
layout: layouts/base.njk
body_class: needs-scroll tickets-bg
---
{% include "partials/navbar.njk" %}

<header class="header">
  <h1 class="header-title">{{ header.title }}</h1>
  <div class="header-intro has-links">
      {{ header.intro | md | safe }}
  </div>
</header>

<ul class="tickets" id="tickets">
  {% for ticket in tickets %}
  <li>
    {% set sold = eventbrite.metrics.by_type[ticket.name] or 0 %}
    <article class="ticket <% if ticket.stock <= sold %>is-sold-out<% endif %>">
      <header>
        <p class="ticket-pricing">{{ ticket.pricing | md(true) | safe }}</p>
        <h2 class="ticket-name">{{ ticket.name }}</h2>
      </header>

      <div class="ticket-description">
        {{ ticket.description | md | safe }}
      </div>
      {% set ticketInfo = eventbrite.tickets[ticket.name] %}

      <footer>
        {% if not eventbrite.url %}
        <strong class="button is-block is-disabled">
          Disponible próximamente
        </strong>
        {% else %}
          {% if ticketInfo.remaining %}
            <a href="{{ eventbrite.url }}" class="button is-block">
              <span>Seleccionar esta entrada</span>
            </a>
            <strong style="--percentage: {{ ticketInfo.percent }}%" class="ticket-sales">Quedan {{ ticketInfo.remaining }} entradas</strong>
          {% else %}
            <strong class="button is-block is-disabled">
              Esta entrada está agotada
            </strong>
          {% endif %}
        {% endif %}
      </footer>
    </article>
  </li>
  {% endfor %}
</ul>
