---
layout: layouts/base.njk
---
{% include "partials/navbar.njk" %}

<header class="header">
  <h1 class="header-title">{{ header.title }}</h1>
  <div class="header-intro has-links">
      {{ header.intro | md | safe }}
  </div>
</header>
